{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Nuevo Fases | {{ proyecto.nombre }}{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="card shadow rounded">
        <div class="card-body">
            <h5 class="mb-4 text-muted"><strong>Nombre Proyecto:</strong> {{ proyecto.nombre }}</h5>
            
            <form method="POST">
                {% csrf_token %}
                
                <div class="mb-4">
                    <div class="form-control-plaintext">{{ form.titulo.value }}</div>
                </div>

                <div class="mb-3">
                    <label for="id_contenido" class="form-label">Contenido Generado</label>
                    {{ form.contenido|add_class:"form-control"|attr:"rows:8" }}
                </div>

                <div class="d-flex justify-content-center gap-3 mt-4">
                    <button type="submit" class="btn btn-outline-primary px-4">Generar con IA</button>
                    <a href="{% url 'detalle_proyecto' proyecto.id %}" class="btn btn-outline-danger px-4">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
